<div class="body">
	<h1 class="heading"><%= @look.name %></h1>
	<div class="lookbook">
		<div class="lookbook-inner">
			<% @clothing_items.each do |clothing_item| %>
				<%= image_tag clothing_item.image.url(:medium) %>
			<% end %>
		</div>
	</div>

	<ul class="show-tags">
		<% @tags.each do |tag| %>
		<li>
	    <a href="/tags/looks/<%=tag.id%>">
			  <%= tag.text %>
	    </a>
		</li>
		<% end %>
	</ul>

	<div class="vote-count">
		<%= @look.votes.count %>
	</div>
	<p class="note">
		votes
	</p>


	<%= button_to("Edit this look!", edit_look_path(@look), method: :get, 'class' => 'edit secondary-button') %>

	<%= link_to('or delete it from your lookbook', look_path(@look), method: :delete, 'class' => 'delete') %>
</div>
