
<output></output>



<%= form_for @clothing_item do |f| %>

  <%= f.file_field :image %>
  
  <p>
  	<%= f.label :caption %>
  	<%= f.text_field :caption %>
  </p>
    
  <p>
  	<%= f.submit %>
  </p>
<% end %>



<script>

	$(function() {

    $current_image = $('#current_image');
    $clothingItemImage = $('#clothing_item_image');
    $clothingItemImage.trigger('change');
    $clothingItemImage.on('change', function(event){
      var file = event.target.files[0];
      $current_image.remove();
      if (file.type.match('image.*')){
        var reader = new FileReader();
        reader.onload = (function(theFile){
          var img = new Image();
          img.src = theFile.target.result;
          var $output = $('output');
          $output.html(img);
        });
        reader.readAsDataURL(file);
      }
    });

  });

</script>