
<output></output>



<%= form_for @clothing_item do |f| %>

  <%= f.file_field :image %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
  	<%= f.label :caption %>
  	<%= f.text_field :caption %>
  </p>
  <ul class="show-tags"></ul>
	<%= render partial: 'tag_form' %>

  <p>
  	<%= f.submit id:"save" %>
  </p>
<% end %>



<script>

	$(function() {

    var $text_field = $('#tags');
    var $submit = $('#add');
    var tag_array = [];

    $submit.on('click', function(e){
      e.preventDefault();
      var text_field_value = $text_field.val();
      $text_field.val("");
      var tags_raw = text_field_value.split(",");
      $(tags_raw).each(function(idx, tag){
        tag_array.push(tag);
      });

    });


    var $current_image = $('#current_image');
    var $clothingItemImage = $('#clothing_item_image');
    $clothingItemImage.trigger('change');
    $clothingItemImage.on('change', function(event){
      var file = event.target.files[0];
      $current_image.remove();
      if (file.type.match('image.*')){
        var reader = new FileReader();
        reader.onload = (function(theFile){
          var img = new Image();
          img.src = theFile.target.result;
          var $output = $('output');
          $output.html(img);
        });
        reader.readAsDataURL(file);
      }
    });

    var params = [
      {
        name:'tags',
        value: tag_array
      }
    ];

    var $newClothingItem = $('#new_clothing_item');
    $newClothingItem.submit(function(){
      $.each(params, function(i, param){
        $('<input />').attr('type', 'hidden')
        .attr('name', param.name)
        .attr('value', param.value)
        .appendTo($newClothingItem);
      });
    });
  });

</script>