<div class="body">
  <h1 class="heading">Your Clothing Item:</h1>
  <div class="show-image">  
    <div class="col1">
      <%= image_tag @clothing_item.image.url(:medium) %>
      
      <h3>
        <%= @clothing_item.caption %>
      </h3>
    </div>
    <div class="col2">
      <%= button_to("Edit this item!", edit_clothing_item_path(@clothing_item), method: :get, 'class' => 'edit') %>
      <%= link_to('or delete it from your closet', clothing_item_path(@clothing_item), method: :delete, 'class' => 'delete') %><br>

      <ul class="show-tags">
      	<% @tags.each do |tag| %>
      	<li>
          <a href="/tags/clothing_items/<%= tag.id %>">
      		  <%= tag.text %>
          </a>
      	</li>
      	<% end %>
      </ul>    
    </div>
  </div>
</div>  