<!DOCTYPE html>
<html>
<head>
  <title>Juxtapose</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
</head>
<body>


	<% if current_user %>
   <%= render partial: "/partials/nav_for_current_user" %>
  <% else %>
    <%= render partial: "/partials/nav_for_non_user" %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
